*{
    margin:0;
    border:0;
    border-spacing: 0;
    padding:0;
    text-decoration: none;
    list-style:none;
    font-family:"calibri", sans-serif;
    font-size: 16px;
    outline: none;
    color: #000;
    position: relative;
}
::placeholder {
  color: #dde2de;
}
input,textarea,button,select{
    border: 1px solid cyan;
    border-radius: .2em;
    
}
button{
    border-color: #296B73;
    border-radius: .3em;
}
button:hover{
    transition: linear .3s;
    opacity: .8;
    background-color: #194759;
    color:lightblue;
}
input[type^="rad"]{
    height: 1.1em;
    width: 1.1em
}
.hidden, 
.homepage .sign.hidden, 
.homepage .sign .hidden,
.inbox .right .inbox-view > div.hidden{
    display: none;
}

body, body>div{
    width:100%;
    height: 100%;
}
body{
    
}
.modal, .alert{
    position: absolute;
    top:0;
    height: 100vh;
    z-index: 99;
}
.modal{
    background-color: black;
    opacity: .5;
    position: fixed;
}
.alert{
    width:50%;
    height: auto;
    background-color: white;
    border: cyan solid .08em;
    border-radius: 0 0 .5em .5em;
    margin:15% 25%;
}
.alert div{
    padding: 1em
}
.alert .title-bar{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-45deg, #194759, #194759, #23A6D5, #194759);;
}
.alert .title-bar label{
    font-size: 1.5em;
    font-weight: bold;
    color:white;
}
.alert a{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: .1em;
    width: 1em;
    border-radius: .5em;
    background-color: transparent;
    color: red;
}
.alert a:hover, .alert a:active{
    transition: .5s;
    background-color: red;
    color:white;
}
.alert p{
    font-size: 1.2em
}
.homepage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    background-image: url("../img/email-background-images-1.v1.jpg");
    background-size: cover;
}
.homepage >h1{
    position: fixed;
    font-size: 4em;
    font-family: cursive;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    padding:.2em 0;
    color: white;
    background: linear-gradient(-45deg, #194759, #194759, #23A6D5, #194759);
    z-index: 2;
}
.homepage .sign{
    margin-top: 1em;
    width:30em;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 10em;
}
.homepage .sign >div{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.homepage .sign label.top{
    font-size:1.5em;
    padding: .7em 0;
    background-color: lightblue; 
}
.homepage .sign form{
    padding: 1em 1em 0 1em;
}
.homepage .sign form div{
    display: flex;
    flex-flow: row nowrap;
}
.homepage .sign form div *{
    padding: .5em 0;
    font-size: 1.2em;
    margin: 2px;
}
.sign form div *{
    width:100%;
    border: 1px solid cyan;
    border-radius: .2em;
}
.homepage .sign form div input{
    width:100%;
    padding-left: 5%;
}
.homepage .sign form button{
    margin: 1em  auto .5em auto;
    width: 100%;
    padding: .3em 0;
    font-size: 1.5em;
}
.homepage .sign p a{
    font-weight: bold;
    color:white;
}
.homepage .sign p{
    padding-left: 1em;
    color: white;
}
.inbox >.top{
    display: flex;
    justify-content: space-between;
    padding: .8em;
    border-bottom: lightblue solid 5px;
    background: linear-gradient(-45deg, #194759, #194759, #23A6D5, #194759);
}

.inbox .top div:first-child{
    display: flex;
    flex-flow: column;
}
.inbox .top h1{
    font-size:2em;
    font-family: cursive;
}
.inbox .top h1, .inbox .top p{
    color: white;
}
.inbox .top div button{
    padding: .6em;
    background: lightblue;
    color: red;
    font-weight: bold;
    border-color: #0099FF;
}
.inbox .top div button:hover{
    transition: 1s;
    background: red;
    color: white;
}
.inbox .search{
    margin-top: 1em;
}
.inbox .search a img{
    width: 2em;
    height: 2em;
    top: .7em;
    right: 2.5em;
}
.inbox .top input{
    border: transparent solid .3em;;
    border-radius: 1em;
    padding: .3em .5em;
    transition: 1s;
}
.inbox .top input:hover, .inbox .top input:active{
    border: #194759 solid .3em;;
}
.inbox .bottom {
    display: flex;
}
.inbox .bottom .left{
    width:20%;
}
.inbox .bottom ul{
    width:100%;
    overflow: hidden;
}
.inbox .bottom li {
    display:inline;
}
.inbox .bottom li a{
    display:block;
    padding: .8em;
    font-size: 1.2em;
    font-weight:bold;
    color:#194759;
}
.inbox .bottom li a.active{
    background-color: #194759;
    color:white;
}
.inbox .bottom li a:hover{
    background-color: #194759;
    color:white;
    transition: .5s;
}

.inbox .bottom li.groups  li a{
    padding-left: 2em;
}
.inbox .bottom li.groups  li a:hover{
    background-color:#46A394;
    
}
.inbox .bottom .vline{
    border:lightblue solid ;
    border-width: 0 .3em 0 0;
    position: absolute;
    height: 100vh;
    left:19.2%;
}
.inbox .bottom .right{
    width: 80%;
    padding: 1em;
}
.inbox .bottom .toolbar{
    padding: .2em;
    border-bottom: lightblue solid .3em;
}
.inbox .toolbar button{
    padding: .4em .8em;
    border-radius: .5em;
    border: #194759 solid .2em;
    cursor: pointer;
}
.inbox .toolbar button:hover{
    opacity: .8;
    font-weight: bold;
    border-color: lightblue;
    transition: 1s
}
.inbox .bottom .inbox-view >div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: .2em;
    margin: .3em 0;
}
.inbox .bottom .inbox-view >div >*:not(input){
    cursor: pointer;
    text-overflow: ellipsis;
}
.inbox .bottom .inbox-view >div:hover{
    background-color: #98E1ED;
}
.inbox .inbox-view div div{
    width:50%;
}
.inbox .inbox-view div div *{
    float: left
}
.inbox .inbox-view >div> p{
    width:20%;
    display: inline-block;
}
.inbox .inbox-view label{
    width:15%;
}
.inbox .inbox-view >div> p,.inbox .inbox-view .subject, .inbox .inbox-view label{
    font-weight: bold;
    padding-right: .5em;
    overflow: hidden;
}
.inbox .inbox-view >div div {
    max-height: 2.5em;
    overflow: hidden;
}
.inbox .inbox-view input{
    width:1.2em;
    height: 1.2em
}
.inbox .view-message >div{
    border: 1px solid lightblue;
    padding: .5em;
    margin-bottom: 1em;
}
.inbox .view-message .top{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: .8em;
    background: lightblue;
}
.inbox .view-message .top >div{
    display: flex;
    flex-flow: row wrap;
}
.inbox .view-message .top img{
    width:3em;
    height:3em;
    margin-right: 1em;
}
.inbox .view-message h2{
    font-size: 1.5em;
    padding: .5em 0;
}
.inbox .view-message .top.away{
    background-color: #3E8C84;
}
.inbox .right-compose div{
    width: 100%
}
.inbox .right-compose .address div{
    display: flex;
}
.inbox .right-compose .address >div{
    margin:.5em 0 ;
}
.inbox .right-compose .address label{
    width:20% ;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 1em;   
}
.inbox .right-compose .address span:not(:last-child){
    margin-right:5em;
}
.inbox .right-compose .address span *{
    vertical-align: bottom;
}
.inbox .right-compose .address input[type="email"],.inbox .right-compose .address select{
    padding: .5em;
    width:50%;
    
}
.inbox .right-compose .message{
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-flow: column nowrap;
}
.inbox .right-compose .message input{
    padding: .5em;
    font-weight: bold;
    font-size: 1.2em;
    border-color: lightblue;
}
.inbox .right-compose .message textarea{
    padding: 1em .5em .5em .5em;
    height: 10em;
    border-color: lightblue;
    margin-bottom: .3em;
    resize:vertical;
}
.inbox .right-compose button{
    float: right;
    padding: .5em 2em;
    border-radius: 
}
button.sending{
    background-color:orange;
}
button.sent{
    background-color: limegreen;
}
.inbox  .bottom .right-sent .toolbar{
    border-color:#3E8C84;
}
.inbox .bottom .right-sent .inbox-view >div:hover{
    background-color: #3E8C84;
}.inbox  .bottom .right-draft .toolbar{
    border-color:#49738C;
}
.inbox .bottom .right-draft .inbox-view >div:hover{
    background-color: #49738C;
}
.right-group div div {
    padding: 1em;
    
}
.right-group label{
    font-weight: bold;
    font-size: 1.2em;
    width: 25%;
    display: inline-block
}
.right-group input, .right-group button{
    padding: 1em;
}
.right-group button[form='createGroup']{
    width: 100%;
}

.right-group ul{
    display: flex;
    flex-flow: column nowrap;
}
.right-group div ul li{
    padding: .4em 1em
}